@import "tailwindcss";

:root {
   --primaryCream: #F9F0E5;
   --primaryDarkBlue: #01005B;
   --primaryGrey: #676869;
   --primaryLightGrey: #F0EEEF;
   --primaryGreen: #1FAD40;
   --primaryYellow: #FFB801;
   --secondaryGrey: #6C6C6C;
   --secondaryBlue: #2A2996;
}

@theme inline {
   --color-primaryCream: var(--primaryCream);
   --color-primaryDarkBlue: var(--primaryDarkBlue);
   --color-primaryGrey: var(--primaryGrey);
   --color-primaryLightGrey: var(--primaryLightGrey);
   --color-primaryGreen: var(--primaryGreen);
   --color-primaryYellow: var(--primaryYellow);
   --color-secondaryGrey: var(--secondaryGrey);
   --color-secondaryBlue: var(--secondaryBlue);
}

html,
body {
   max-width: 100vw;
   overflow-x: hidden;
}